<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hookeai Poke</title>
  <!-- External CSS -->
  <link rel="stylesheet" href="/styles/checkout-page.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

  <!-- CSS -->
</head>

<body>
  <% include ./partials/_header %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Review Your Cart!</h1>
      <p class="lead">You're only moments away from receiving the best poke you've ever had in your life</p>
    </div>
  </div>
  <section id="form-container">
    <div id="order-process-form">
      <form method="POST" action="/orders/checkout">

        <div class="cart-items">
          <div class="head">Checkout</div>
          <hr>
          <div class="form-group row item-container">
            <div class="item"></div>
            <div class="price"></div>
          </div>

        </div>
        <div class="total">Total: 10.00</div>

        <div class="container payment">
          <form>
            <hr>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" name= "email" id="email2" aria-describedby="emailHelp" placeholder="Enter email"
                <% if(user){ %>
                  value="<%- user %>"
                <% } %>
                >
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
              <label for="inputPhone">Phone number</label>
              <input type="tel" class="form-control" id="phone-input-field"   name ="phone-number" pattern="+[0-9]{11}" value="+1" required>
            </div>

            <div class="form-group">
              <label for="control-label">Card Number</label>
              <div class="">
                <input type="text" class="form-control" name="card-num" id="card-num" placeholder="0000-0000-0000-0000" pattern="[0-9]{16}" required>
              </div>
            </div>

            <div class="form-group">
              <label for="control-label">Expiration Date</label>
              <div id = "exp">
                <select class="form-control" name="ex-month">
                  <option value="01">01</option>
                  <option value="02">02</option>
                  <option value="03">03</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="06">06</option>
                  <option value="07">07</option>
                  <option value="08">08</option>
                  <option value="09">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
                <select class="form-control" name="ex-year">
                  <option value="18">2018</option>
                  <option value="19">2019</option>
                  <option value="20">2020</option>
                  <option value="21">2021</option>
                  <option value="22">2022</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="control-label">CVV</label>
              <div >
                <input type="text" class="form-control" name="cvv" id="cvv" placeholder="xxx" pattern="[0-9]{3}" required>
              </div>
            </div>

            <button  type="submit" class="btn btn-primary">Feed Me!</button>
        </form>
    </div>
  </section>
      <% include ./partials/_footer %>



      <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/scripts/checkout.js"></script>

</body>

</html>
