<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hookeai Poke</title>
    <!-- External CSS -->
    <link rel="stylesheet" href="/styles/main-page.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />

    <!-- Bootstrap CDN -->
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">

      <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">





  </head>


    <nav>
     <% include ./partials/_header %>
    </nav>

    <body>

    <div class="container-fluid">
      <img id="mainIMG" src="../pictures/main/titleimage.jpg">

    <!-- Menu Button/Lead to Menu -->

    <div class="menu container">
      <div class="about">
          <h1>Our Story: </h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    <form action="menu">
      <button type="submit" class="btn btn-info">Take me to the menu!!<a href="menu"></a></button>
    </form>

      <div class="pictures">
          <div id="slide" class="carousel slide" data-ride="carousel" data-interval="1900">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="https://c2.staticflickr.com/2/1929/43918972890_919060b777_n.jpg" alt="Poke Bowl 1">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://c1.staticflickr.com/5/4427/36896529631_f5df19e3e0_n.jpg" alt="Poke Bowl 2">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://c1.staticflickr.com/5/4770/28327590049_fc7fdc91d3_n.jpg" alt="Poke Bowl 3">
              </div>
            </div>
          </div>
      </div>
    </div>




    <!-- User Reviews-->
    <section id="user-review-container" class="item">
      <div class="user-review-one">
        <img class="user-review-avatar-one" src="../pictures/users/test-avatar.png" alt="user review avatar">
        <p class="user-review-text">"Yummy yummy, in my tummy!"</p>
      </div>

      <div class="user-review-two">
        <p class="user-review-text">"Hookeai Poke is more than Okie Dokie"</p>
        <img class="user-review-avatar-two" src="../pictures/users/test-avatar.png" alt="user review avatar">
      </div>
    </section>


    </div>

    <!-- JS & JQuery   -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
  </body>

      <footer>
        <% include ./partials/_footer %>
      </footer>

</html>
