*{
  font-family: Montserrat;
}
hr{
  color: grey;
}
.head{
    font-size: 20px;
    // margin-bottom: 20px;
    text-align: left;
}
div.cart-items {
  width: 55%;
  display: flex;
  justify-content: center;
  /*align-content: center;*/
  flex-direction: column;
  margin: auto;
  margin-bottom: 1rem;

  .quantity-select{
    width: 13%;
    margin-left: 10px;
  }
  .item{
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  .price{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    margin: auto;
  }
  .form-group{
  }
}

.item-container {
  display: flex;
  justify-content: end;
}

div.payment {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 100%;
  padding: 0 3rem;
  align-items: flex-start;
  font-size: 20px;
  padding-bottom: 2rem;
  align-items: center;
}
/*
@media (min-width: 720px){
  .quantity-select{
    width: 50%;
  }
}
*/
.total{
  padding-top: 20px;
  font-size: 28px;
  padding-bottom: 20px;
  width: 55%;
  margin: auto;
}

.totalprice {
  padding-top: 20px;
  font-size: 20px;
  padding-bottom: 20px;
}
#emailHelp{
  font-size: 12px;
  margin-bottom: 12px;
}
.card{
  display: flex;

}
.form-group{
  font-size: 18px;
}

.payment{
  background-color: #e9ecef;
  width: 100%;
}

#form-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
    #order-process-form {
      display: flex;
    }
    .form-control {
      width: 30rem;

    }
    #exp{
      display: flex;
      width : 100%;

        select{
        width: 15rem;
      }
    }
}

.delete {
  margin-right: 10px;
}

