#cart-container {
  background-color: lightgrey;
  height: 500px;
  width: 500px;
}

#order-process-form {
  background: lightgoldenrodyellow;
  height: 500px;
  width: 500px;
}

.header {
  color: red;
}
