.footer-main-container {
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 90px;
  background-color: #a2efd8;
}

.footer-tree {
  height: 80px;
  width: 70px;
  align-content: center;
}




