
.nav-container {
  display: block;
  position: fixed;
  height: auto;
  width: 100%;
  z-index: 1;
  background-color: #a2efd8;
}

.navbar-brand h1 {
  padding-top: 15px;
  font-family: Helvetica;
  font-size: 60px;
  color: black;
  font-style: italic;
  display: inline
}

.tree {
  height: 90px;
  width: 80px;
  margin: 10px;
}

.nav-links {
  padding-top: 30px;
}










