body {
  background-color: #f7f8f9 !important;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
}

form.form{
  display: inline-block;
}

nav.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   padding: 20px 110px;
   padding-bottom: 10px;
   font-family: Montserrat;
}

.modal-title{
  text-transform: uppercase;
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.5rem !important;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar-brand small {
  display: block;
  font-weight: 100;
  text-align: left;
  font-size: 11px;
}

a.navbar-brand{
  padding-top: 2px;
  margin-right: 0.5rem;
}


.container-fluid{
  text-align: center;
}

.nav-item {
  text-align: center;
}

.navbar-nav.ml-auto{
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

button.navbar-toggler {
  outline: none !important;
  border: none;
}

img#logo{
  width: 60px;
}

.loginBTN {
  color: #fff !important;
  text-transform: uppercase;
  background: #358BBA;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
}

.loginBTN:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

#logoutBTN{
  -webkit-appearance: none;
  border: 0;
  background-color: #f7f8f9 !important;
  color: #777 !important;
  transition: 1;
  outline: none;
}
#logoutBTN:hover{
  color: black !important;
}
