#header-container {
  padding-top: 124px;
  display: flex;
  justify-content: center;
  background-color: lightgrey;
    h1 {
      font-size: 3rem;
  }
    h2 {
      font-size: .9rem;
    }
}

#full-menu-container {
  display: inline-flex;
  padding: 2rem;
  justify-content: space-around;
  background-color: lightblue;
  flex-wrap: wrap;
    .menu-item-container {
      display:flex;
      justify-content: center;
      padding: 1.1rem;
      flex-direction: column;
    }
    span {
      display: flex;
      justify-content: center;
      background-color: white;
    }
    .menu-item-pic {
      height: 20rem;
      width: 20rem;
    }
    .image-background {
      background: url("../pictures/food/pokebowl2.jpg");
      height: 20rem;
      width: 20rem;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    }
    .description-text {
      font-size: 1.5rem;
      font-weight: bold;
      opacity: 0;
      padding: 1.2rem;
    }
    .menu-item-container:hover .image-background {
      opacity: 1;
      background: black;
    }
    .menu-item-container:hover .description-text {
      opacity: 1;
      color: white;
      transition: opacity .5s linear;
    }

}

#checkout-button-container {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
    .btn {
      height: 10rem;
      width: 20rem;
      font-size: 2rem;
    }
}




