#header-container {
  padding-top: 124px;
  display: flex;
  justify-content: center;
  background-color: lightgrey;
    h1 {
      font-size: 3rem;
  }
    h2 {
      font-size: .9rem;
    }
}

.img{
  padding-bottom: 10px;
}

#full-menu-container {
    .menu-item-container {
      display:flex;
      /*padding: 1.1rem;*/
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: auto;
      width: 80%
    }
    span {
      display: flex;
      justify-content: center;
    }
    .menu-item-pic {
      height: 15rem;
      width: 18rem;
    }
    .description{

    }
}

#checkout-button-container {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
    .btn {
      height: 10rem;
      width: 20rem;
      font-size: 2rem;
    }

}


